In [1]:
import pandas as pd
import xlrd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [17]:
# read file and explore dataset
attacks = pd.read_csv(r'C:\Users\Vanessa\Downloads\Dados\Programas\RepositÃ³rio Git\attacks.csv', encoding = 'latin-1')
attacks.info()
attacks.head()
attacks.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

(25723, 24)

In [3]:
# clean columns' names
attacks.columns = attacks.columns.str.lower().str.strip()
attacks.columns

Index(['case number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal (y/n)', 'time',
       'species', 'investigator or source', 'pdf', 'href formula', 'href',
       'case number.1', 'case number.2', 'original order', 'unnamed: 22',
       'unnamed: 23'],
      dtype='object')

In [4]:
# drop irrelevant columns
clean_attacks = attacks.drop(['unnamed: 22', 'unnamed: 23'], axis = 1)

In [18]:
# drop lines if more than 22 columns are null
allnull = attacks.isna().sum(axis = 1) >= 22
notnull = ~allnull
clean_attacks = attacks[notnull]
clean_attacks.shape

(6302, 24)

In [6]:
# clean 'fatal' column
import re
clean_attacks.rename(columns = {'fatal (y/n)':'fatal'}, inplace = True)
clean_attacks['fatal'] = clean_attacks['fatal'].str.lower().str.strip().replace('2017','u', regex = True).replace('m','u', regex = True).replace('unknown','u', regex = True)
clean_attacks['fatal'].fillna('u', inplace = True)

C:\Users\Vanessa\AppData\Local\Temp\ipykernel_12076\3256031532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_attacks.rename(columns = {'fatal (y/n)':'fatal'}, inplace = True)
C:\Users\Vanessa\AppData\Local\Temp\ipykernel_12076\3256031532.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_attacks['fatal'] = clean_attacks['fatal'].str.lower().str.strip().replace('2017','u', regex = True).replace('m','u', regex = True).replace('unknown','u', regex = True)
C:\Users\Vanessa\AppData\Local\Temp\ipykernel_12076\3256031532.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_attacks['fatal'].fillna('u', inplace = True)

In [7]:
# clean 'sex' column
clean_attacks2 = clean_attacks['sex'].fillna('u', inplace = True)
clean_attacks2 = clean_attacks['sex'].str.lower().str.strip().replace('.', 'u').replace('lli', 'u').replace('n', 'u')
clean_attacks['sex'] = clean_attacks2

C:\Users\Vanessa\AppData\Local\Temp\ipykernel_12076\1072108464.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_attacks2 = clean_attacks['sex'].fillna('u', inplace = True)
C:\Users\Vanessa\AppData\Local\Temp\ipykernel_12076\1072108464.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_attacks['sex'] = clean_attacks2

In [8]:
# clean 'age' column
# these exclusions where less than 1% of DF (23/6302): adult = 2, teens = 16, elderly = 1, young = 3, middle-age = 1 
import re
clean_attacks['age'] = clean_attacks['age'].str.lower().str.strip().fillna('u')
clean_attacks['age'] = clean_attacks['age'].str.replace(r'x|a.m.|f|make line green|teens|teen|"young"|young|adult|\(adult\)|elderly|"middle-age"|>50', 'u')
clean_attacks['age'] = clean_attacks['age'].str.replace('20s','25').str.replace('30s','35').str.replace('40s','45').str.replace('50s','55').str.replace("60's","65").str.replace("60s","65").str.replace('mid-25','25').str.replace('mid-35','35')
clean_attacks['age'] = clean_attacks['age'].str.replace('ca.', '').str.replace('both 11', '11 & 11').str.replace('2 to 3 months', '0.3').str.replace('18 months', '1.5').str.replace('9 months', '0.7')

def clean_numbers(x):
    if 'or' in x or 'to' in x:
        n1 = re.findall('^\d+', x)
        n2 = re.findall('\d+$', x)
        lista_n = n1 + n2
        lista_int = list(map(int, lista_n)) 
        y = sum(lista_int)/2
        return(y)
    elif 'Â½' in x:
        z = re.sub('Â½', '.5', x)
        return(float(z))
    else:
        return(x)

clean_attacks['age'] = clean_attacks['age'].apply(clean_numbers) 

def clean_and(x):
    if type(x) == str and '&' in x:
        return re.split('[&,]', x)
    else:
        return [x]
        
clean_attacks['age'] = clean_attacks['age'].apply(clean_and) 

new_df = clean_attacks.explode('age')
new_df['age'] = new_df['age'].str.strip().str.replace('?', '')
new_df['age'] = new_df['age'].apply(lambda x: np.nan if x == 'u' or x == '' else float(x))

C:\Users\Vanessa\AppData\Local\Temp\ipykernel_12076\2502510549.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_attacks['age'] = clean_attacks['age'].str.lower().str.strip().fillna('u')
C:\Users\Vanessa\AppData\Local\Temp\ipykernel_12076\2502510549.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  clean_attacks['age'] = clean_attacks['age'].str.replace(r'x|a.m.|f|make line green|teens|teen|"young"|young|adult|\(adult\)|elderly|"middle-age"|>50', 'u')
C:\Users\Vanessa\AppData\Local\Temp\ipykernel_12076\2502510549.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_attacks['age'] = clean_attacks['age'].str.replace(r'x|a.m.|f|make line green|teens|teen|"young"|young|adult|\(adult\)|elderly|"middle-age"|>50', 'u')
C:\Users\Vanessa\AppData\Local\Temp\ipykernel_12076\2502510549.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_attacks['age'] = clean_attacks['age'].str.replace('20s','25').str.replace('30s','35').str.replace('40s','45').str.replace('50s','55').str.replace("60's","65").str.replace("60s","65").str.replace('mid-25','25').str.replace('mid-35','35')
C:\Users\Vanessa\AppData\Local\Temp\ipykernel_12076\2502510549.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  clean_attacks['age'] = clean_attacks['age'].str.replace('ca.', '').str.replace('both 11', '11 & 11').str.replace('2 to 3 months', '0.3').str.replace('18 months', '1.5').str.replace('9 months', '0.7')
C:\Users\Vanessa\AppData\Local\Temp\ipykernel_12076\2502510549.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_attacks['age'] = clean_attacks['age'].str.replace('ca.', '').str.replace('both 11', '11 & 11').str.replace('2 to 3 months', '0.3').str.replace('18 months', '1.5').str.replace('9 months', '0.7')
C:\Users\Vanessa\AppData\Local\Temp\ipykernel_12076\2502510549.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_attacks['age'] = clean_attacks['age'].apply(clean_numbers)
C:\Users\Vanessa\AppData\Local\Temp\ipykernel_12076\2502510549.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_attacks['age'] = clean_attacks['age'].apply(clean_and)
C:\Users\Vanessa\AppData\Local\Temp\ipykernel_12076\2502510549.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new_df['age'] = new_df['age'].str.strip().str.replace('?', '')

count    3446.000000
mean       27.410186
std        13.894617
min         0.300000
25%        17.000000
50%        24.000000
75%        35.000000
max        87.000000
Name: age, dtype: float64

In [9]:
# create new column with 'age groups'
ages = ['0-9', '10-19', '20-29', '30-39', '40-49','50-59', '60-69', '70-79', '80-87']  
new_df.loc[:,'age_group'] = pd.cut(new_df['age'], [0, 9, 19, 29, 39, 49, 59, 69, 79, 87], labels = ages, include_lowest= True)

In [10]:
# create data frames with percentages from the clean columns

new_df['fatal'] = new_df['fatal'].apply(lambda x: np.nan if x == 'u' else (x))  
fatal_df = pd.DataFrame(new_df['fatal'].value_counts())
fatal_df.loc[:,'t%'] = fatal_df.apply(lambda x: round((100 * x)/5709, 2), axis=0)
fatal_df

# 5709/6332 not null (90.16%)
# conclusion: most attacks are not fatal

   fatal    t%
n   4316  75.6
y   1393  24.4

In [11]:
new_df['sex'] = new_df['sex'].apply(lambda x: np.nan if x == 'u' else (x)) 
sex_df = pd.DataFrame(new_df['sex'].value_counts())
sex_df.loc[:,'t%'] = sex_df.apply(lambda x: round((100 * x)/5759, 2), axis=0)
sex_df

# 5759/6332 not null (90.95%)
# conclusion: most attacks involve male victims

    sex    t%
m  5120  88.9
f   639  11.1

In [12]:
age_group_df = pd.DataFrame(new_df['age_group'].value_counts())
age_group_df.loc[:,'t%'] = age_group_df.apply(lambda x: round((100 * x)/3446, 2), axis=0)
age_group_df

# 3446/6332 not null (54,4%)
# conclusion: the attacks frequency decreases with age increase, except for young children (0-9)

       age_group     t%
10-19       1093  31.72
20-29       1017  29.51
30-39        560  16.25
40-49        355  10.30
50-59        196   5.69
0-9          118   3.42
60-69         80   2.32
70-79         22   0.64
80-87          5   0.15

In [29]:
new_df['age'].describe()

# conclusion: the mean age of the attacks was 27.4 years old

count    3446.000000
mean       27.410186
std        13.894617
min         0.300000
25%        17.000000
50%        24.000000
75%        35.000000
max        87.000000
Name: age, dtype: float64

In [13]:
fatal_sex = new_df[['fatal', 'sex']].groupby('fatal').value_counts()
fatal_sex_df = pd.DataFrame(fatal_sex) 
fatal_sex_df.loc[:,'t%'] = fatal_sex_df.apply(lambda x: round((100 * x)/5245, 2), axis=0)
fatal_sex_df.columns = ['cases', 't%']
fatal_sex_df.reset_index(inplace = True)
fatal_sex_df.loc[:,'r%'] = fatal_sex_df.apply(lambda x: round((100*x['cases'])/3961, 2) if x['fatal'] == 'n' else round((100*x['cases'])/1284, 2), axis = 1)
fatal_sex_df

# 5245/6332 not null (82,83%)
# conclusions: most fatal cases happen among males

  fatal sex  cases     t%     r%
0     n   m   3491  66.56  88.13
1     n   f    470   8.96  11.87
2     y   m   1177  22.44  91.67
3     y   f    107   2.04   8.33

In [14]:
fatal_age = new_df[['fatal', 'age_group']].groupby('fatal').value_counts()
fatal_age_df = pd.DataFrame(fatal_age) 
fatal_age_df.loc[:,'t%'] = fatal_age_df.apply(lambda x: round((100 * x)/3201, 2), axis=0)
fatal_age_df.columns = ['cases', 't%']
fatal_age_df.reset_index(inplace = True)
fatal_age_df.loc[:,'r%'] = fatal_age_df.apply(lambda x: round((100*x['cases'])/2594, 2) if x['fatal'] == 'n' else round((100*x['cases'])/607, 2), axis = 1)
fatal_age_df 

# 3201/6332 not null (50,55%)
# conclusions: over 65% of fatal cases happen among ages 10-29

   fatal age_group  cases     t%     r%
0      n     10-19    834  26.05  32.15
1      n     20-29    751  23.46  28.95
2      n     30-39    425  13.28  16.38
3      n     40-49    277   8.65  10.68
4      n     50-59    151   4.72   5.82
5      n       0-9     87   2.72   3.35
6      n     60-69     52   1.62   2.00
7      n     70-79     13   0.41   0.50
8      n     80-87      4   0.12   0.15
9      y     10-19    198   6.19  32.62
10     y     20-29    197   6.15  32.45
11     y     30-39     91   2.84  14.99
12     y     40-49     45   1.41   7.41
13     y     50-59     32   1.00   5.27
14     y     60-69     18   0.56   2.97
15     y       0-9     18   0.56   2.97
16     y     70-79      7   0.22   1.15
17     y     80-87      1   0.03   0.16

In [15]:
fatal_country = new_df[['fatal', 'country']].groupby('fatal').value_counts()
fatal_country

# conclusions: top 10 countries for fatal attacks are Autralia, USA, South Africa, Papua New Guinea, Mexico, Brazil, Philippines, Reunion, New Zealand and Cuba

fatal  country
n      USA                                      1839
       AUSTRALIA                                 926
       SOUTH AFRICA                              408
       BAHAMAS                                    94
       NEW ZEALAND                                91
       PAPUA NEW GUINEA                           74
       BRAZIL                                     64
       ITALY                                      41
       FIJI                                       39
       MEXICO                                     35
       NEW CALEDONIA                              34
       REUNION                                    31
       SPAIN                                      26
       PHILIPPINES                                22
       EGYPT                                      21
       MOZAMBIQUE                                 21
       FRENCH POLYNESIA                           21
       CUBA                                       17
       SOLOMON ISLANDS                            17
       JAPAN                                      16
       ENGLAND                                    16
       IRAN                                       16
       VIETNAM                                    13
       PANAMA                                     13
       INDIA                                      13
       BERMUDA                                    11
       SRI LANKA                                  10
       TONGA                                      10
       ATLANTIC OCEAN                             10
       JAMAICA                                    10
       CROATIA                                    10
       IRAQ                                        9
       ECUADOR                                     9
       MARSHALL ISLANDS                            9
       SOUTH ATLANTIC OCEAN                        8
       UNITED KINGDOM                              8
       CANADA                                      8
       SCOTLAND                                    8
       PACIFIC OCEAN                               8
       COLUMBIA                                    7
       COSTA RICA                                  7
       SAMOA                                       7
       TURKEY                                      7
       FRANCE                                      7
       INDONESIA                                   7
       HONG KONG                                   7
       SENEGAL                                     6
       VENEZUELA                                   6
       TAIWAN                                      6
       MAURITIUS                                   6
       THAILAND                                    5
       PALAU                                       5
       GREECE                                      5
       ISRAEL                                      5
       VANUATU                                     4
       MALAYSIA                                    4
       AZORES                                      4
       SIERRA LEONE                                4
       CHILE                                       4
       RUSSIA                                      4
       NEW GUINEA                                  4
       KENYA                                       4
       NORTH PACIFIC OCEAN                         4
       TURKS & CAICOS                              3
       MADAGASCAR                                  3
       LIBYA                                       3
       CHINA                                       3
       CARIBBEAN SEA                               3
       MICRONESIA                                  3
       SAUDI ARABIA                                3
       SUDAN                                       3
       PERSIAN GULF                                3
       NORTH ATLANTIC OCEAN                        3
       MID ATLANTIC OCEAN                          3
       DOMINICAN REPUBLIC                          2
       SEYCHELLES                                  2
       INDIAN OCEAN                                2
       NEW BRITAIN                                 2
       SINGAPORE                                   2
       EGYPT                                       2
       KIRIBATI                                    2
       OKINAWA                                     2
       TRINIDAD & TOBAGO                           2
       TANZANIA                                    2
       UNITED ARAB EMIRATES                        2
       BARBADOS                                    2
       MARTINIQUE                                  2
       URUGUAY                                     2
       MALTA                                       2
       EL SALVADOR                                 2
       GUAM                                        2
       ST HELENA, British overseas territory       2
       PACIFIC OCEAN                               2
       SOUTH KOREA                                 2
       FALKLAND ISLANDS                            1
       ANGOLA                                      1
       ARGENTINA                                   1
       EGYPT / ISRAEL                              1
       BELIZE                                      1
       BRITISH ISLES                               1
       BRITISH NEW GUINEA                          1
       BRITISH WEST INDIES                         1
       FEDERATED STATES OF MICRONESIA              1
       BURMA                                       1
       CENTRAL PACIFIC                             1
       CURACAO                                     1
       ASIA?                                       1
       NORTHERN MARIANA ISLANDS                    1
       TUNISIA                                     1
       MID-PACIFC OCEAN                            1
       ST. MAARTIN                                 1
       ST. MARTIN                                  1
       SUDAN?                                      1
       TASMAN SEA                                  1
       TOBAGO                                      1
       MEXICO                                      1
       MEDITERRANEAN SEA                           1
       UNITED ARAB EMIRATES (UAE)                  1
       ADMIRALTY ISLANDS                           1
       MALDIVES                                    1
       YEMEN                                       1
       MONTENEGRO                                  1
       SOUTHWEST PACIFIC OCEAN                     1
       SOUTH CHINA SEA                             1
       NAMIBIA                                     1
       OCEAN                                       1
       NORTHERN ARABIAN SEA                        1
       NORTH SEA                                   1
       PALESTINIAN TERRITORIES                     1
       NORTH ATLANTIC OCEAN                        1
       PORTUGAL                                    1
       PUERTO RICO                                 1
       RED SEA                                     1
       RED SEA?                                    1
       NIGERIA                                     1
       NICARAGUA                                   1
       NICARAGUA                                   1
       SLOVENIA                                    1
       SOMALIA                                     1
       NETHERLANDS ANTILLES                        1
       Fiji                                        1
       NORWAY                                      1
       HAITI                                       1
       GUYANA                                      1
       GRENADA                                     1
       GRAND CAYMAN                                1
       GEORGIA                                     1
       ICELAND                                     1
       IRAN / IRAQ                                 1
       LEBANON                                     1
       KUWAIT                                      1
       JOHNSTON ISLAND                             1
        TONGA                                      1
y      AUSTRALIA                                 283
       USA                                       187
       SOUTH AFRICA                              106
       PAPUA NEW GUINEA                           56
       MEXICO                                     44
       BRAZIL                                     38
       PHILIPPINES                                35
       REUNION                                    29
       NEW ZEALAND                                24
       CUBA                                       24
       FIJI                                       22
       INDIA                                      21
       MOZAMBIQUE                                 20
       PANAMA                                     18
       NEW CALEDONIA                              18
       HONG KONG                                  17
       INDONESIA                                  15
       GREECE                                     15
       CROATIA                                    15
       JAMAICA                                    14
       ITALY                                      14
       IRAN                                       13
       EGYPT                                      12
       JAPAN                                      12
       SOLOMON ISLANDS                            12
       BAHAMAS                                    10
       VANUATU                                     9
       ATLANTIC OCEAN                              8
       SPAIN                                       8
       PACIFIC OCEAN                               8
       COSTA RICA                                  8
       KENYA                                       6
       NEW GUINEA                                  6
       SOUTH KOREA                                 6
       CARIBBEAN SEA                               5
       DOMINICAN REPUBLIC                          5
       ENGLAND                                     5
       NICARAGUA                                   5
       SEYCHELLES                                  5
       TANZANIA                                    5
       VENEZUELA                                   5
       YEMEN                                       5
       KIRIBATI                                    4
       OKINAWA                                     4
       SOMALIA                                     4
       SINGAPORE                                   4
       SIERRA LEONE                                4
       BARBADOS                                    4
       TONGA                                       4
       CHILE                                       4
       NEW BRITAIN                                 4
       MADAGASCAR                                  4
       MAURITIUS                                   4
       SOUTH ATLANTIC OCEAN                        4
       GRENADA                                     3
       MALTA                                       3
       LIBYA                                       3
       IRAQ                                        3
       CHINA                                       3
       INDIAN OCEAN                                3
       SENEGAL                                     3
       AMERICAN SAMOA                              3
       NIGERIA                                     3
       CEYLON                                      3
       BURMA                                       3
       CANADA                                      3
       HONDURAS                                    3
       FRANCE                                      3
       TAIWAN                                      3
       TURKEY                                      3
       THAILAND                                    3
       BERMUDA                                     2
       EL SALVADOR                                 2
       GUINEA                                      2
       FRENCH POLYNESIA                            2
       URUGUAY                                     2
       SOUTH PACIFIC OCEAN                         2
       COLUMBIA                                    2
       TURKS & CAICOS                              2
       PORTUGAL                                    2
       MID ATLANTIC OCEAN                          2
       UNITED KINGDOM                              2
       NORTH PACIFIC OCEAN                         2
       MARSHALL ISLANDS                            2
        TONGA                                      2
       LEBANON                                     2
       LIBERIA                                     2
       YEMEN                                       2
       SRI LANKA                                   2
       WEST INDIES                                 2
       VIETNAM                                     2
       KOREA                                       1
       MARTINIQUE                                  1
       MONTENEGRO                                  1
       WESTERN SAMOA                               1
       MONACO                                      1
       NAMIBIA                                     1
       MALDIVE ISLANDS                             1
       MAYOTTE                                     1
       MEDITERRANEAN SEA                           1
       SOUTHWEST PACIFIC OCEAN                     1
       SOLOMON ISLANDS / VANUATU                   1
       SUDAN                                       1
       Sierra Leone                                1
       SAN DOMINGO                                 1
       SAMOA                                       1
       REUNION ISLAND                              1
       THE BALKANS                                 1
       RED SEA / INDIAN OCEAN                      1
       TOBAGO                                      1
       PERU                                        1
       TUNISIA                                     1
       PERSIAN GULF                                1
       PARAGUAY                                    1
       TUVALU                                      1
       SAUDI ARABIA                                1
       JAVA                                        1
       ANDAMAN ISLANDS                             1
        PHILIPPINES                                1
       AFRICA                                      1
       ALGERIA                                     1
       ANDAMAN / NICOBAR ISLANDAS                  1
       ARUBA                                       1
       GULF OF ADEN                                1
       Fiji                                        1
       GABON                                       1
       GHANA                                       1
       GREENLAND                                   1
       GUAM                                        1
       GUYANA                                      1
       BAHREIN                                     1
       HAITI                                       1
       INDIAN OCEAN?                               1
       IRELAND                                     1
       EQUATORIAL GUINEA / CAMEROON                1
       DJIBOUTI                                    1
       BANGLADESH                                  1
       BAY OF BENGAL                               1
       BELIZE                                      1
       Between PORTUGAL & INDIA                    1
       CAPE VERDE                                  1
       CENTRAL PACIFIC                             1
       CEYLON (SRI LANKA)                          1
       COOK ISLANDS                                1
       CRETE                                       1
       CYPRUS                                      1
       Coast of AFRICA                             1
       DIEGO GARCIA                                1
dtype: int64

In [16]:
fatal_year = new_df[['fatal', 'year']].groupby('fatal').value_counts()
fatal_year 

# conclusions: top 10 years for fatal attacks since 1960 are 2000, 1944, 1993, 1942, 1964, 1962, 1966, 1963, 1954, 1960

fatal  year
n      2015.0    121
       2017.0    115
       2016.0    113
       2014.0    111
       2011.0    104
       2013.0    102
       2008.0    100
       2012.0     98
       2009.0     97
       2007.0     96
       2010.0     89
       2006.0     86
       2005.0     84
       2001.0     82
       2003.0     79
       2002.0     74
       2000.0     73
       2004.0     69
       1960.0     67
       0.0        64
       1962.0     61
       1961.0     60
       1959.0     58
       1999.0     58
       1998.0     54
       1995.0     53
       2018.0     51
       1996.0     45
       1997.0     44
       1988.0     44
       1994.0     43
       1992.0     41
       1964.0     41
       1963.0     40
       1993.0     40
       1989.0     39
       1983.0     39
       1981.0     38
       1975.0     38
       1966.0     34
       1965.0     34
       1968.0     33
       1990.0     32
       1986.0     32
       1991.0     31
       1970.0     30
       1976.0     30
       1967.0     30
       1958.0     30
       1985.0     29
       1955.0     29
       1953.0     29
       1950.0     29
       1974.0     29
       1984.0     28
       1956.0     28
       1957.0     27
       1982.0     27
       1969.0     25
       1972.0     25
       1980.0     25
       1987.0     24
       1947.0     23
       1929.0     22
       1954.0     22
       1942.0     22
       1936.0     22
       1946.0     21
       1971.0     20
       1978.0     20
       1977.0     19
       1952.0     18
       1951.0     18
       1935.0     17
       1931.0     17
       1941.0     17
       1949.0     17
       1973.0     17
       1932.0     17
       1948.0     17
       1979.0     16
       1933.0     16
       1930.0     16
       1938.0     16
       1928.0     16
       1934.0     15
       1939.0     14
       1937.0     14
       1924.0     13
       1944.0     12
       1916.0     12
       1940.0     12
       1927.0     12
       1923.0     11
       1926.0     10
       1914.0     10
       1943.0     10
       1920.0     10
       1925.0     10
       1899.0     10
       1913.0      9
       1877.0      9
       1945.0      8
       1902.0      8
       1895.0      8
       1919.0      8
       1874.0      8
       1886.0      8
       1907.0      8
       1870.0      7
       1906.0      7
       1890.0      7
       1922.0      7
       1898.0      7
       1894.0      7
       1911.0      7
       1909.0      7
       1882.0      7
       1880.0      7
       1900.0      7
       1847.0      6
       1917.0      6
       1915.0      6
       1912.0      6
       1905.0      6
       1888.0      6
       1885.0      6
       1892.0      5
       1910.0      5
       1921.0      5
       1862.0      5
       1871.0      5
       1896.0      4
       1901.0      4
       1897.0      4
       1878.0      4
       1879.0      4
       1891.0      4
       1887.0      4
       1864.0      4
       1853.0      4
       1876.0      3
       1842.0      3
       1873.0      3
       1881.0      3
       1860.0      3
       1861.0      3
       1904.0      3
       1863.0      3
       1868.0      2
       1832.0      2
       1837.0      2
       1840.0      2
       1848.0      2
       1865.0      2
       1872.0      2
       1883.0      2
       1889.0      2
       1893.0      2
       1903.0      2
       1827.0      2
       1918.0      2
       1803.0      2
       1875.0      1
       1867.0      1
       1749.0      1
       1869.0      1
       1812.0      1
       1858.0      1
       1703.0      1
       1700.0      1
       500.0       1
       1908.0      1
       1884.0      1
       1852.0      1
       1855.0      1
       1807.0      1
       1851.0      1
       1846.0      1
       1845.0      1
       1758.0      1
       1839.0      1
       1788.0      1
       1829.0      1
       1828.0      1
       1804.0      1
       1826.0      1
       1825.0      1
       1817.0      1
       1835.0      1
       5.0         1
y      0.0        59
       1959.0     25
       1956.0     21
       1958.0     18
       2000.0     18
       1944.0     17
       1993.0     16
       1942.0     16
       1964.0     16
       1962.0     16
       1966.0     15
       1963.0     15
       1954.0     15
       1960.0     14
       1929.0     14
       2004.0     14
       2011.0     14
       1961.0     13
       1943.0     13
       2009.0     13
       2013.0     13
       1922.0     13
       1995.0     12
       1955.0     12
       1898.0     12
       1916.0     12
       1907.0     12
       1994.0     11
       1906.0     11
       1895.0     11
       1996.0     11
       1937.0     11
       1951.0     11
       1948.0     11
       1934.0     11
       2006.0     10
       1957.0     10
       1904.0     10
       1883.0     10
       1950.0     10
       1967.0     10
       1908.0     10
       2002.0     10
       2008.0     10
       1936.0      9
       1949.0      9
       1952.0      9
       1992.0      9
       1998.0      9
       1939.0      9
       1974.0      9
       2012.0      9
       1941.0      9
       1935.0      9
       1940.0      9
       1878.0      9
       1973.0      9
       1926.0      9
       1965.0      9
       2015.0      9
       1909.0      8
       1945.0      8
       1979.0      8
       2010.0      8
       1887.0      8
       2003.0      8
       2017.0      8
       1930.0      8
       1997.0      8
       1931.0      8
       1893.0      8
       1970.0      8
       1971.0      8
       1864.0      8
       1903.0      8
       1932.0      8
       1911.0      8
       1972.0      8
       2014.0      7
       1852.0      7
       1863.0      7
       2005.0      7
       1927.0      7
       1896.0      7
       1899.0      7
       1912.0      7
       1938.0      7
       1988.0      7
       1876.0      6
       1923.0      6
       1921.0      6
       1890.0      6
       1914.0      6
       1888.0      6
       1947.0      6
       1928.0      6
       1849.0      6
       1894.0      6
       1913.0      6
       1905.0      6
       1989.0      6
       1953.0      6
       1991.0      6
       1982.0      6
       1980.0      6
       2001.0      6
       1987.0      6
       1976.0      6
       1975.0      6
       1924.0      5
       1981.0      5
       1892.0      5
       1946.0      5
       1862.0      5
       1897.0      5
       1889.0      5
       1884.0      5
       1882.0      5
       1855.0      5
       1880.0      5
       1902.0      5
       1968.0      5
       1845.0      5
       1917.0      5
       1919.0      5
       1933.0      5
       2016.0      5
       1984.0      5
       2007.0      5
       1999.0      5
       1910.0      4
       1891.0      4
       1881.0      4
       1983.0      4
       1874.0      4
       1860.0      4
       1977.0      4
       1844.0      4
       1920.0      4
       1830.0      4
       1868.0      4
       1867.0      4
       1840.0      3
       1879.0      3
       1985.0      3
       1990.0      3
       1986.0      3
       1915.0      3
       1826.0      3
       1817.0      3
       1900.0      3
       1901.0      3
       1853.0      3
       1856.0      3
       1858.0      3
       1925.0      3
       1872.0      3
       1886.0      3
       1885.0      3
       1877.0      3
       1918.0      3
       1978.0      2
       1776.0      2
       1875.0      2
       1808.0      2
       1829.0      2
       1871.0      2
       1700.0      2
       1847.0      2
       1846.0      2
       1865.0      2
       1861.0      2
       1850.0      2
       1839.0      2
       1851.0      2
       77.0        1
       1738.0      1
       1543.0      1
       1831.0      1
       1810.0      1
       1811.0      1
       1815.0      1
       1816.0      1
       1822.0      1
       1825.0      1
       1827.0      1
       1828.0      1
       1834.0      1
       1801.0      1
       1835.0      1
       1837.0      1
       1841.0      1
       1842.0      1
       1848.0      1
       1857.0      1
       1859.0      1
       1866.0      1
       1802.0      1
       1800.0      1
       1580.0      1
       1642.0      1
       1721.0      1
       1742.0      1
       1748.0      1
       1751.0      1
       1753.0      1
       1764.0      1
       1771.0      1
       1779.0      1
       1797.0      1
       1780.0      1
       1783.0      1
       1784.0      1
       1785.0      1
       1786.0      1
       1787.0      1
       1791.0      1
       1792.0      1
       2018.0      1
dtype: int64